.container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 1rem;
}

.container-cards a {
    text-decoration: none;
    color: #000;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: .1rem solid #000;
    border-radius: 1rem;
    padding: 1rem;
    background-color: #7d7676;
}

.card-header {
    min-width: 32vh;
    padding-left: .8rem;
    margin: 0;
    margin-right: 2rem;
}

.card-header h3 {
    font-size: 30px;
}

.type-class {
    margin-top: .8rem;
}
.type-class span {
    border-radius: .5rem;
    padding: .5rem 1rem;
}

#id1 {
    background-color: #00ff7b;
    margin-right: .4rem;
}

#id2 {
    background-color: #0ebc9c;
}

.card-body {
    margin: 0 2rem;
}
.card-body img {
    width: 15rem;
}


.btn-mais {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding: 0.8em 1.3em 0.8em 0.9em;
    color: white;
    background-color: #ff960b;
    letter-spacing: 0.05em;
    border-radius: 16px;
    height: 7vh;
    width: 50%;
    outline: none;
}
  
.btn-mais:hover {
    cursor: pointer;
}