{% extends "index.html" %}
{% block tilte %}
<title>Detail</title>
{% endblock %}

{% block conteudo %}
<div class="container-detail">
    <div class="main-detail" style="background-color: green">
        <div class="card-header">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png" style="background-color: black;" alt="pokemon">
            <div class="card-info">
                <div class="poke-class">
                    <h3>class</h3>
                    <h3>class</h3>
                </div>
                <h1>Pokemon-name</h1>
            </div>
        </div>
        <div class="card-body">
            <div>
                <h3>HP</h3>
                <p>2800</p>
            </div>
            <div>
                <h3>Attack</h3>
                <p>3000</p>
            </div>
            <div>
                <h3>Defense</h3>
                <p>3000</p>
            </div>
            <div>
                <h3>Speed</h3>
                <p>2800</p>
            </div>
        </div>
    </div>

    <div class="secondary-detail" style="background-color: rgb(4, 255, 4)">
        <div class="info">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam rem obcaecati accusamus blanditiis sed architecto commodi alias dolor magni doloremque numquam minus possimus consectetur vel consequatur reiciendis, minima porro assumenda?</p>
        </div>
        <div class="data">
            <div>
                <div>
                    <h3>Height</h3>
                    <p>0.7 m</p>
                </div>
                <div>
                    <h3>Weigth</h3>
                    <p>6.9 kg</p>
                </div>
            </div>
            <div>
                <div>
                    <h3>Special Attack</h3>
                    <p>4000/p>
                </div>
                <div>
                    <h3>Special Defense</h3>
                    <p>4000</p>
                </div>
            </div>
        </div>
        <div class="evolutions">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png" style="background-color: black;" alt="pokemon">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png" style="background-color: black;" alt="pokemon">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png" style="background-color: black;" alt="pokemon">
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<footer>
    <div class="copyright">
        <p>Copyright &copy; 2023 <span></span> - <span>PokéDex</span></p>
    </div>
</footer>
{% endblock %}