{% extends "index.html" %}

{% block conteudo %}
<a href="{{ url_for('detail') }}">
    <div class="card">
        <div class="card-header">
            <h3>Nome-Pokemon</h3>
            <div class="type-class">
                <span id="id1">tipo-classe</span>
                <span id="id2">tipo-classe</span>
            </div>
        </div>
        <div class="card-body">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png" alt="pokemon">
        </div>
    </div>
</a>
<a href="{{ url_for('detail') }}">
    <div class="card">
        <div class="card-header">
            <h3>Nome-Pokemon</h3>
            <div class="type-class">
                <span id="id1">tipo-classe</span>
                <span id="id2">tipo-classe</span>
            </div>
        </div>
        <div class="card-body">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png" alt="pokemon">
        </div>
    </div>
</a>
<a href="{{ url_for('detail') }}">
    <div class="card">
        <div class="card-header">
            <h3>Nome-Pokemon</h3>
            <div class="type-class">
                <span id="id1">tipo-classe</span>
                <span id="id2">tipo-classe</span>
            </div>
        </div>
        <div class="card-body">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png" alt="pokemon">
        </div>
    </div>
</a>
<a href="{{ url_for('detail') }}">
    <div class="card">
        <div class="card-header">
            <h3>Nome-Pokemon</h3>
            <div class="type-class">
                <span id="id1">tipo-classe</span>
                <span id="id2">tipo-classe</span>
            </div>
        </div>
        <div class="card-body">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png" alt="pokemon">
        </div>
    </div>
</a>
{% endblock %}