<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    
</head>
<body>
    <h2>Index</h2>

    <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('signin') }}">SignIn</a></li>
        <li><a href="{{ url_for('signout') }}">SignOut</a></li>
        <li><a href="{{ url_for('detail') }}">Details</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
    </ul>
    
</body>
</html>