<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block tilte %}
    <title>Home</title>
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">    
</head>
<body>
    {% block header %}
    <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('signin') }}">SignIn</a></li>
        <li><a href="{{ url_for('signout') }}">SignOut</a></li>
        <li><a href="{{ url_for('detail') }}">Details</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
    </ul>
    {% endblock %}
    {% block main %}

    {% endblock %}
    {% block footer %}
    <footer>
        <div class="container-footer">
            <div class="info">
                <img src="{{ url_for('static', filename='img/#') }}" alt="logo">
                <div class="text-info">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, optio perspiciati!</p>
                </div>
            </div>
            <div class="pages">
                <title>Pages</title>
                <div class="footer-itens">
                    <ul>
                        <li><a href="{{ url_for('detail') }}">Details</a></li>
                        <li><a href="{{ url_for('signin') }}">SignIn</a></li>
                        <li><a href="{{ url_for('signout') }}">SignOut</a></li>
                        <li><a href="{{ url_for('about') }}">About</a></li>
                    </ul>
                </div>
            </div>
            <div class="complements"></div>
            <div class="authors"></div>
        </div>
        <div>
            <p>Copyright &copy; 2023 - PokéDex </p>
        </div>
    </footer>
    {%  endblock %}
</body>
</html>